@model IEnumerable<Forum.Models.User>

<div class="h-100 container text-center">
    <div class="m-2 row justify-content-end">
        <div class="col-2 btn-group">
        <a class="btn btn-primary" asp-action="Registration">Register</a>
        <a class="btn btn-primary" asp-action="Login">Login</a>
        </div>
    </div>
    <div class="h-75 row justify-content-center align-items-center">
        <div class="col"><h1>Hello to my Forum!</h1></div>
    </div>
</div>